<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|80","left":"var:preset|spacing|30","right":"var:preset|spacing|30"}}},"layout":{"type":"constrained","wideSize":"1440px"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--80);padding-left:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30)">
	<!-- wp:columns -->
	<div class="wp-block-columns">
		<!-- wp:column {"width":"16rem"} -->
		<div class="wp-block-column" style="flex-basis:16rem">
			<!-- wp:alaska/flight-filters /-->
		</div>
		<!-- /wp:column -->

		<!-- wp:column -->
		<div class="wp-block-column">
			<!-- wp:pattern {"slug":"alaska/flight-results-hero"} /-->

			<!-- wp:alaska/date-carousel /-->

			<!-- wp:alaska/flight-results /-->
		</div>
		<!-- /wp:column -->
	</div>
	<!-- /wp:columns -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
